.resume-section {
    width: 100%;
    max-width: 768px;
}

.resume-section-narrow {
    width: 100%;
    max-width: 768px;
}

.resume-section__title {
    font-size: var(--sys-font-3xl);
    color: var(--sys-color-text-main);
    margin-bottom: 1rem;
}


.resume-section__toggle-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.resume-section__toggle-btn {
    padding: 0 1rem;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid var(--sys-color-btn-background);
    background: var(--sys-color-btn-background);
    color: var(--sys-color-text-secondary);
    font-size: var(--sys-font-s);
    font-weight: var(--sys-font-weight-normal);
    cursor: pointer;
}

.resume-section__toggle-btn:hover {
    color: var(--sys-color-text-main);
    background-color: var(--sys-color-btn-background-hover);
    border: 1px solid var(--sys-color-btn-border-hover);
}

.resume-section__toggle-btn.is-active {
    color: var(--sys-color-primary);
    border: 1px solid var(--sys-color-btn-border-active);
    background-color: var(--sys-color-btn-background-active);
}


.resume-section__content {
    display: flex;
    flex-direction: column;
}

.resume-section__list-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.resume-content__logo-box {
    flex-shrink: 0;
    width: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-content__logo-box img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 0.75rem;
    background-color: var(--sys-color-btn-background);
    border-radius: 8px;
    border: 1px solid var(--sys-color-btn-border-hover);
}

@media (min-width: 768px) {
    .resume-content__logo-box {
        width: 6rem;
        justify-content: center;
    }

    .resume-content__logo-box img {
        padding: 1rem;
    }
}



.resume-content__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.resume-content__meta-box {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

@media (min-width: 768px) {
    .resume-content__meta-box {
        flex-direction: row;
        gap: 1rem;
    }
}

.resume-content__venue-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
}

.resume-content__venue {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--sys-font-xs);
    color: var(--sys-color-primary);
    font-weight: var(--sys-font-weight-normal);
    width: fit-content;
    background-color: transparent;
    border: 1px solid var(--sys-color-primary);
    border-radius: 4px;
    height: 1.5rem;
    padding: 0 0.75rem;
    margin-bottom: 4px;
}

.resume-content__prepint {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--sys-font-xs);
    color: var(--sys-color-text-tertiary);
    font-weight: var(--sys-font-weight-normal);
    width: fit-content;
    background-color: transparent;
    border: 1px solid var(--sys-color-bw-10);
    border-radius: 4px;
    height: 1.5rem;
    padding: 0 0.75rem;
    margin-bottom: 4px;
}

.resume-content__title {
    font-size: var(--sys-font-m);
    font-weight: var(--sys-font-weight-bold);
    color: var(--sys-color-text-main);
    line-height: 1.25;
}

.resume-content__subtitle {
    font-size: var(--sys-font-s);
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-secondary);
    line-height: 1.25;
}

.resume-content__meta {
    font-size: var(--sys-font-s);
    line-height: 1.25;
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-tertiary);
    border-radius: 8px;
    width: fit-content;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .resume-content__title {
        font-size: var(--sys-font-l);
    }

    .resume-content__subtitle {
        font-size: var(--sys-font-m);
    }

    .resume-content__meta {
        font-size: var(--sys-font-m);
    }
}

.resume-content__description {
    font-size: var(--sys-font-m);
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-tertiary);
    line-height: 1.5;
    margin-top: 1rem;
}


.resume-content__wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem 0;
    border-radius: 8px;
    background: transparent;
}

.resume-content__wrapper.is-interactive {
    cursor: pointer;
}

.resume-list-content__wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--sys-color-bw-10);
    background: transparent;
}

.resume-list-content__wrapper:first-child {
    border-top: 1px solid var(--sys-color-bw-10);
}

.resume-content__wrapper.is-interactive.is-dimmed,
.resume-list-content__wrapper.is-dimmed {
    opacity: 0.3;
}

.resume-content__wrapper.is-interactive.is-active,
.resume-list-content__wrapper.is-active {
    opacity: 1;
    background: var(--sys-color-bw-5);
    padding: 1.5rem 1rem;
    gap: 0;
}

.resume-content__wrapper.is-interactive:hover,
.resume-list-content__wrapper:hover {
    background: var(--sys-color-bw-5);
    padding: 1.5rem 1rem;
    gap: 0;
}

.resume-list-content__description-box {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.resume-list-content__description-box.is-active {
    opacity: 1;
    max-height: 400px;
}

.resume-list-content__description {
    font-size: var(--sys-font-m);
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-secondary);
    line-height: 1.5;
    padding: 1rem 1rem 1rem;
}

.resume-bio__header-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .resume-bio__header-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        height: 16rem;
    }
}

.resume-bio__profile {
    flex-shrink: 0;
    height: 15rem;
    width: 12rem;
    /* aspect-ratio: 4 / 5; */
    border-radius: 8px;
    object-fit: cover;
}

.resume-bio__profile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

@media (min-width: 768px) {
    .resume-bio__profile {
        width: 100%;
        height: 100%;
        aspect-ratio: 4 / 5;
        order: 2;
    }

    .resume-bio__profile-box {
        grid-column: span 2;
        height: 100%;
        order: 1;
    }
}

.resume-bio__greeting {
    height: fit-content;
    display: flex;
    align-items: start;
    line-height: 1.25;
    font-size: var(--sys-font-4xl);
    color: var(--sys-color-text-main);
    text-align: left;
    font-family: var(--sys-font-serif);
}

@media (min-width: 768px) {
    .resume-bio__greeting {
        /* height: calc(10rem + 0.85rem); */
        /* height: calc(12rem); */
        align-items: start;
    }
}

.wave {
    display: inline-block;
    animation: wave-animation 2.5s infinite;
    transform-origin: 70% 70%;
    margin-left: 0.25rem;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.resume-bio__content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2rem; */
}

.resume-bio__desc {
    width: 100%;
    font-size: var(--sys-font-m);
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-secondary);
    line-height: 1.5;
    text-align: left;
    /* margin-bottom: 0.75rem; */
}

.resume-bio__cv-btn {
    display: inline-flex;
    cursor: pointer;
    color: var(--sys-color-primary);
    white-space: nowrap;
    background: transparent;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    text-decoration: underline;
}

.resume-bio__cv-btn:hover {
    color: var(--sys-color-primary-dark);
}