.contact {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.contact__list-item {
    font-size: var(--sys-font-s);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.contact__list-item-line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--sys-color-btn-border);
    align-self: flex-end;
    margin-bottom: 6px;
}

.contact__list-item-arrow {
    display: inline-block;
    margin-left: 4px;
    font-style: normal;
    font-family: var(--sys-font-family);
    font-size: 0.9em;
}

.contact__list-item-label {
    font-family: var(--sys-font-family-emphasis);
    font-style: italic;
    font-size: 1.1em;
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-main);
    line-height: 1.5;
}

.contact__list-item-value {
    font-weight: var(--sys-font-weight-normal);
    color: var(--sys-color-text-main);
    line-height: 1.5;
}