.intro-background-canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  background: white;
  /* max-width: 1200px; */
  width: 100%;
  height: 100vh;
  pointer-events: none;
}