@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-border: #e5e5e5;
  --color-background: var(--color-white);
  --base-height: 3rem;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
  background: var(--color-background);
  color: var(--color-gray-900);

  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: inherit;
  color: inherit;
}

body {
  background: var(--color-background);

  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  :root {
    --base-height: 4rem;
  }
  html {
   font-size: 16px;
  }
}