@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-title: white;
  --color-background: var(--color-gray-900);
  --color-text: var(--color-gray-300);
  --color-background-secondary: var(--color-gray-800);
  --color-text-secondary: var(--color-gray-500);
  --color-background-tertiary: var(--color-gray-700);
  --color-text-tertiary: var(--color-gray-700);
  --color-primary: #3b82f6; /* blue-500 */
  --color-primary-light: #60a5fa; /* blue-400 */
  --color-primary-dark: #2563eb; /* blue-600 */
  --color-secondary: #f59e42; /* orange-400 */
  --color-secondary-light: #ffb86b; /* lighter orange */
  --color-secondary-dark: #c7771e; /* darker orange */
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
}

*, *::before, *::after {
  box-sizing: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: inherit;
  color: inherit;
  font-family: inherit;
  fill: inherit;
  stroke: inherit;
}

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.app__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 0;
  /* font-size: 1rem; */
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--color-text);
  fill: var(--color-text);
  stroke: var(--color-text);
}

.btn__circle {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.markdown-body {
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5em; */
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: 500 !important;
}
.markdown-body ul {
  margin: 0 0 0 1.2em;
  padding: 0;
}
.markdown-body li {
  margin-bottom: 0.3em;
}
.markdown-body a {
  text-decoration: none;
}
.markdown-body strong {
  font-weight: 500;
}
.markdown-body em {
  font-style: italic;
}
.markdown-body p {
  margin-bottom: 0.25em !important;
  /* text-indent: 0.5em; */
}
.markdown-body p:last-of-type {
  margin-bottom: 0;
}
.markdown-body code {
  background: #f5f5f5;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.95em;
}

@media (max-width: 800px) {
  :root {
    --base-height: 4rem;
  }
  html {
    font-size: 12px;
  }
}