.content-section {
    width: 100%;
}

.content-section__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content-block__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: var(--base-height); */
    /* margin-bottom: var(--base-height); */
}

.content-block__title {
    height: var(--base-height);
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: 0;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;

    background: black;
    /* background-image: radial-gradient(white 1px, transparent 1px);
    background-size: calc(var(--base-height) / 6) calc(var(--base-height) / 6); */
    color: white;
}

.content-block__items {
    
}