.content {
    flex: 3;
    width: 100%;
    max-width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.content-block p,
.content-block h3 {
    margin: 0;
    padding: 0;
}

.content-block {
    height: 100%;
    width: 100%;
}

.content-block__inner {
    height: max-content;
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* gap: 3rem; */
}

.content-block__title {
    height: 1.25rem;
    width: 100%;
    padding: 0 0.25rem;
    margin: 2rem 0 2rem;
    
    font-size: 2rem;
    font-weight: 500;
}

.content-block__items {
    height: max-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.content-item {  
    height: max-content;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--color-background-tertiary);
}

.content-item--expanded {
    background: var(--color-background-secondary);
    transition:
        background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.content-item__header {
    height: max-content;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background: transparent;
    gap: 1rem;
    padding: 0.5rem;
}

.content-item__header--expanded {
    /* border-bottom: 2px dotted; */
}

.content-item__header-inner {
    height: max-content;
    width: 100%;
    padding: 0.5rem 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.content-item__header-top {
    /* height: 1rem; */
    width: 100%;
    padding: 0;
    margin: 0;

    font-size: 1rem;
    display: flex;
    align-items: center;
}

.content-item__header-top .paper-type {
    display: inline-flex;
    align-items: center;
    background: transparent;
    /* color: var(--color-gray-900); */
    border: 1px solid; /* var(--color-gray-900); */
    padding: 0 0.75rem;
    margin: 0 0 0 0.5rem;
    /* line-height: 1; */
    font-size: 1rem;
    position: relative;
    border-radius: 1rem;
    font-weight: 500;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.content-item__header-mid {
    height: max-content;
    width: 100%;
    padding: 0;
    margin: 0;

    /* font-size: 1.25rem; */
    font-weight: 500;
    /* line-height: 1; */

    display: flex;
    align-items: center;
}

.content-item__header-bottom {
    height: max-content;
    width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;

    font-size: 1rem;
}

.content-item__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}
.content-item__details--expanded {
    /* background: var(--color-background);
    border: 1px solid var(--color-background-tertiary); */
    color: var(--color-text-secondary);
    border-radius: 0.5rem;
}

.content-item__details-inner {
    background: transparent;
    font-size: 1rem;
    height: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    /* gap: 1rem; */
}

.content-item__details-inner--expanded {
    padding: 0 0.5rem 0.5rem;
    height: auto;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 800px) {
    .content-item__details-section {
        flex-direction: column;
    }
    .content-item__details-title {
        flex: auto;
    }
    .content-item__details-content {
        flex: auto;
    }
}