.contact-container {
    width: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.contact {
    width: 100%;
    /* max-width: 720px; */
    /* margin-left: auto;
    margin-right: auto; */
}