.content-section {
    width: 100%;
}

.content-section__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content-block__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.content-block__title {
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    /* margin: 3rem 0 0; */

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
}

.content-block__items {
    
}