.content-item {  
    /* max-width: var(--pc-max-width); */
    width: 100%;
}

.content-item__header {
    height: calc(var(--base-height) * 3);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
}

.content-item__header--expanded {
    border-bottom: 2px dashed;
}

.content-item__header-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-item__header-top {
    height: calc(var(--base-height) * 0.5);
    margin: 0;

    display: flex;
    align-items: center;

    line-height: 1;
}

.content-item__header-top .paper-type {
    display: inline-flex;
    align-items: center;
    background: transparent;
    /* color: var(--color-gray-900); */
    border: 1px solid; /* var(--color-gray-900); */
    padding: 0.25rem 1rem;
    /* border-radius: 0.25rem; */
    margin: 0 0 0 1rem;
    line-height: 1;
    font-size: 1rem;
    position: relative;
}

.content-item__header-mid {
    height: var(--base-height);
    margin: 0;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1;

    display: flex;
    align-items: center;
}

.content-item__header-bottom {
    height: calc(var(--base-height) * 0.5);
    margin: 0;

    display: flex;
    align-items: center;

    line-height: 1;
}

.content-item__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content-item__details--expanded {
    background: transparent;
    /* background: var(--color-gray-100); */
    border-bottom: 2px solid;
}

.content-item__details-inner {
    max-width: var(--pc-max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--base-height);
    border-top: 0;
    max-height: 0;
    overflow: hidden;
    transition:
        padding 0.4s,
        max-height 0.4s cubic-bezier(0.22, 1, 0.36, 1),
}

.content-item__details-inner--expanded {
    max-height: 1000px;
    padding: 1rem 0;
    transition: background 0.4s;
}

.content-item__details-section {
    /* color: black;
    background: white; */
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
}
.content-item__details-title {
    font-weight: 500;
    margin-bottom: 1rem;
    flex: 1;
}
.content-item__details-content {
    flex: 3;
}


@media (max-width: 800px) {
    .content-item__details-section {
        flex-direction: column;
    }
    .content-item__details-title {
        flex: auto;
    }
    .content-item__details-content {
        flex: auto;
    }
}