.contents-container {
    width: 100%;
}

.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.content-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content {
    width: 100%;
    /* max-width: 720px; */
    margin-left: auto;
    margin-right: auto;
}

.content-title {
    font-size: 1.5rem;
    /* font-weight: 700; */
    /* color: var(--color-gray-900); */
    margin: 1rem 0 2rem;
}