/* .news-elem-container {
} */

.news-elem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1em 0;
    gap: 2rem;
}

.content-elem-container {
    min-height: 100vh;
}

.content-elem {
    border-top: 2px solid currentColor;
}

.content-elem:last-child {
    border-bottom: 2px solid currentColor;
}

.content-elem-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-elem-header {
    max-width: var(--pc-max-width);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* gap: 1rem; */

}

.content-elem-header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    padding: 0;
    margin: 0;
    gap: 0.5rem;

}

.content-elem-header-content h3 {
    font-size: 1rem;
    font-weight: 700;
}

.content-elem-header-content .paper-type {
    display: inline-flex;
    align-items: center;
    background: transparent;
    /* color: var(--color-gray-900); */
    border: 1px solid; /* var(--color-gray-900); */
    padding: 0.25rem 0.5rem;
    /* border-radius: 0.25rem; */
    margin: 0 0 0 0.5rem;
    line-height: 1;
    font-size: 1rem;
    position: relative;
}

.content-elem-detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content-elem-detail-container.expanded {
    background: transparent;
    /* background: var(--color-gray-100); */
    border-top: 1px dashed; /* var(--color-gray-900); */
}

.content-elem-detail {
    max-width: var(--pc-max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    border-top: 0;
    max-height: 0;
    overflow: hidden;
    transition:
        padding 0.4s,
        max-height 0.4s cubic-bezier(0.22, 1, 0.36, 1),
}

.content-elem-detail.expanded {
    max-height: 1000px;
    padding: 1rem 0;
    transition: background 0.4s;
}

.content-elem-detail-item {
    opacity: 0;
    transform: translateY(-20px);
    transition:
        opacity 0.4s,
        transform 0.4s;
}

.content-elem-detail.expanded .content-elem-detail-item {
    opacity: 1;
    transform: translateY(0);
}

.content-elem-detail.expanded .content-elem-detail-item {
    transition-delay: calc(0.05s + (var(--item-index, 0) * 0.1s));
}

.content-elem-detail-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 0;
    padding: 0;
    margin: 0;
    gap: 1rem;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    /* color: var(--color-gray-900); */
}

@media (max-width: 600px) {
    .content-elem-detail-item {
        flex-direction: column;
        align-items: flex-start;
    }
}

.content-elem-detail-item .title{
    width: 20%;
}

@media (max-width: 600px) {
    .content-elem-detail-item .title{
        width: 100%;
    }
}

.content-elem-detail-item .content{
    width: 80%;
}

@media (max-width: 600px) {
    .content-elem-detail-item .content{
        width: 100%;
    }
}

/* .content-elem-detail-item .content .dummy-text{
    color: var(--color-gray-300);
} */