/* =========================
    Footer - Meta Style
    ========================= */
.footer {
    color: var(--color-text-primary);
    fill: var(--color-text-primary);
    stroke: var(--color-text-primary);

    background: var(--color-background);
    border-top: var(--color-background-tertiary) 1px solid;
}

.footer__inner {
    background: transparent;
    padding: 6rem 1rem 1rem;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-block {
    width: 100%;
    max-width: 800px;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.footer-container:only-child {
    justify-content: center;
}

.footer-links {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-title {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.footer-date {
    font-size: 1rem;
    font-weight: 500;
}