/* =========================
    Footer - Meta Style
    ========================= */
.footer {
    padding: 10rem 2rem 2rem;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    background: var(--color-gray-900);
    color: var(--color-gray-100);
    fill: var(--color-gray-100);
    stroke: var(--color-gray-100);
}

.footer-block {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-container:only-child {
    justify-content: center;
}

.footer-links {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-title {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    /* color: var(--color-gray-900); */
}

.footer-date {
    font-size: 1rem;
    font-weight: 500;
    /* color: var(--color-gray-900); */
}