/* =========================
    Footer - Meta Style
    ========================= */
.footer {
    border-top: 1px solid var(--color-gray-300);
    margin: 0 1rem;
    padding: 3rem 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* border-bottom: 2px solid white; */
    background: transparent;
    color: var(--color-gray-900);
    fill: var(--color-gray-900);
    stroke: var(--color-gray-900);
}

.footer-block {
    height: var(--base-height);
    width: 100%;
    max-width: 800px;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.footer-container:only-child {
    justify-content: center;
}

.footer-links {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-title {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    /* color: var(--color-gray-900); */
}

.footer-date {
    font-size: 1rem;
    font-weight: 500;
    /* color: var(--color-gray-900); */
}