/* =========================
    Footer - Meta Style
    ========================= */
.footer {
    padding: 1.5rem 2rem;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    position: relative;
}

.footer > :nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-title * {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-gray-900);
}

.footer-date * {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-gray-900);
    text-decoration: none;
}