.header {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    border-bottom: var(--color-background-tertiary) 1px solid;
}

.header p,
.header h3 {
    margin: 0;
    padding: 0;
}

.header__inner {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    /* gap: 3rem; */
}

.header-block {
    padding: 1rem 0;
    flex: 1;
    height: 100%;
    width: 100%;
    /* max-width: 800px; */
    
    display: flex;
    flex-direction: column;
    overflow: visible;
    align-items: center;
    justify-content: flex-start;
}

.header-block__title {
    width: 100%;
    max-width: 800px;
    height: 1.25rem;
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 0 2rem;
    padding: 0 1.25rem;
}

.header-block__items {
    width: 100%;
    padding: 0 0 0 max(1rem, calc(1rem + (100% - 800px) / 2));
    height: 100%;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 1rem;
    overflow: scroll;
    position: relative;
    scroll-behavior: smooth;
    /* 스크롤바 항상 보이기 (옵션) */
    /* scrollbar-width: auto; */ /* Firefox */
    /* -ms-overflow-style: auto; */ /* IE 10+ */
}
.header-block__items::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.header-item {
    aspect-ratio: 16 / 9;
    flex: 0 0 50%;
    padding: 3rem 2rem 3rem 2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-background-tertiary);
    background: 
        linear-gradient(135deg, var(--color-primary-dark) 0%, var(--color-secondary-dark) 100%),
        url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="1" numOctaves="4" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)" opacity="0.5"/></svg>');
    background-blend-mode: overlay;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-item__title {
    font-size: 2rem;
    background: transparent;
    margin-bottom: 1rem;
}

.header-item__content {
    background: transparent;
}

.news-block {
    width: 100%;
    max-width: 800px;
    height: 12rem;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news-block__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    /* gap: 1rem; */
    scroll-behavior: smooth;
}
.news-block__items::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.news-block__gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    pointer-events: none;
    z-index: 2;
    background: linear-gradient(to bottom, transparent, var(--color-background-secondary));
}

.no-data {
    width: 100%;
    text-align: center;
    color: var(--color-text-secondary);
    padding: 2rem 0;
}

.news-item {
    width: 100%;
    max-width: 800px;
    flex: 0 0 3rem;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-background-tertiary);
    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.news-item:last-of-type {
    border-bottom: 1px solid var(--color-background-tertiary);
}

.news-item__date {
    flex: 0 0 9rem;
    color: var(--color-text-secondary);
}

.news-item__content {
    color: var(--color-text-primary);
}



@media (max-width: 800px) {
    .header-item {
        aspect-ratio: 16 / 9;
        flex: 0 0 75%;
    }
}