.introduction {
  min-height: 100vh;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.introduction .introduction-content {
  max-width: var(--pc-max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.introduction .introduction-content h1 {
  width: 50%;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
}

.introduction .introduction-content p {
  width: 50%;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 500;
}

@media (max-width: 600px) {
  .introduction .introduction-content {
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
  }
  .introduction .introduction-content h1,
  .introduction .introduction-content p {
    width: 100%;
    text-align: left;
  }
}

.introduction .introduction-text {
  flex: 1;
}

.introduction .introduction-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}