.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    justify-content: center;
    /* align-items: flex-start; */
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.sidebar {
    position: sticky;
    top: 0;
    /* width: 100%; */
    /* position: fixed; */
    border-right: 2px solid;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.sidebar-navigation {
    position: sticky;
    top: 0;
}   

.main-content {
    width: 100%;
    /* max-width: 50rem;  */
    align-items: center;
}

@media (max-width: 800px) {
    .app-container {
        flex-direction: column;
    }
    .main-content {
        width: 100%;
        max-width: none;
    }
    .sidebar {
        border-right: 0;
    }
    /* .sidebar-navigation {
        position: fixed;
        top: 0;
    }    */
}