.header {
    width: 100%;
    height: 100%;
}

.header__inner {
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.app__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 100%;
    flex: 1;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    backdrop-filter: blur(4px) saturate(180%);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
    /* border-radius: 16px; */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-navigation {
    position: sticky;
    top: 0;
    background: transparent;
}   

.main-content {
    flex: 3;
    width: 100%;
    max-width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}