.header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    padding: var(--base-height);
}

.header__inner {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    /* padding: 1rem; */
}

.app__inner {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    justify-content: center;
    /* align-items: flex-start; */
    gap: var(--base-height);
}

.sidebar {
    flex: 1;
    position: sticky;
    top: 0;
    /* width: 100%; */
    /* position: fixed; */
    
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.sidebar-navigation {
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    /* border-bottom: 2px solid; */
    position: sticky;
    top: 0;
}   

.main-content {
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    /* border-bottom: 2px solid; */
    flex: 3;
    width: 100%;
    /* max-width: 50rem;  */
    align-items: center;
}

@media (max-width: 800px) {
    .app__inner {
        flex-direction: column;
        gap: 0;
    }
    .main-content {
        width: 100%;
        max-width: none;
    }
    .sidebar {
        border-right: 0;
    }
    /* .sidebar-navigation {
        position: fixed;
        top: 0;
    }    */
}