
/* =========================
  Navigation Bar
  ========================= */
.nav-container {
    width: 100%;
    /* max-width: 16rem; */
    /* padding: 2rem 2rem; */
}


.nav {
    /* max-width: 12rem; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    white-space: nowrap;
    gap: 0;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    justify-content: flex-start;
    align-items: stretch;
}

.nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.nav-btn {    
    box-sizing: border-box;
    width: 100%;

    /* margin-left: -0.1rem; */
    padding: 0.5em 0;

    background: transparent;
    border: none;
    border-top: 2px solid var(--color-gray-900);
    cursor: pointer;

    /* color: var(--color-gray-900); */
    font-size: 1rem;
    font-weight: 700;
    flex-shrink: 0;
    
    transition: color 0.2s;

    text-align: left;
}

.nav-btn:last-child {
    border-bottom: 2px solid var(--color-gray-900);
}

.nav-btn.active {
    color: var(--color-primary);
}