
/* =========================
  Navigation Bar
  ========================= */
.nav {
    color: var(--color-gray-900);
    background: white;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 0;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    justify-content: flex-start;
    align-items: stretch;
}

.nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.nav-btn {
    /* width: calc(var(--base-height) * 6); */
    width: auto;
    height: var(--base-height);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;

    background: transparent;
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    box-sizing: border-box;

    cursor: pointer;
    transition: color 0.2s;

    flex-shrink: 0;
    padding: 0 1rem;
}

.nav-btn:first-of-type {
    border-top: 0;
}

.nav-btn--active {
    color: white;
    background: var(--color-gray-900);
    border-color: black;
}

.nav-title {
    display: none;
}

@media (max-width: 800px) {
    .nav {
        flex-direction: row;
        border-bottom: 2px solid;
    }
    .nav-btn {
        width: auto;
        border-bottom: 0;
    }
}