
/* =========================
  Navigation Bar
  ========================= */
.nav {
    width: 100%;
    flex: 1;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    color: var(--color-text);
    background: var(--color-background-secondary);
    /* border-top: var(--glass-border);*/
    border-bottom: var(--color-background-tertiary) 1px solid;
}

.nav_inner {
    position: sticky;
    top: 0;
    background: transparent;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1.5rem 0 1.5rem max(1rem, calc(1rem + (100% - 800px) / 2));
    gap: 2rem;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    justify-content: flex-start;
    align-items: stretch;
}

.nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.nav-btn {
    width: auto;
    height: auto;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;

    background: transparent;
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;

    cursor: pointer;
    transition: color 0.2s;

    flex-shrink: 0;
    /* padding: 0 1rem; */
    padding: 0;
}

.nav-btn:first-of-type {
    border-top: 0;
}

/* .nav-btn:last-of-type {
    border-bottom: 0;
} */

.nav-btn--active {
    color: var(--color-primary-light);
    /* border: 1px solid var(--color-primary-light); */
    /* background: var(--color-gray-900); */
    /* border-color: black; */
}

.nav-title {
    display: none;
}