
/* =========================
  Navigation Bar
  ========================= */
.nav {
  border-bottom: 1px solid var(--color-gray-900); /* 하단 구분선 */
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  justify-content: flex-start;
  align-items: stretch;
}

.nav::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
}


/* =========================
  Navigation Button
  ========================= */
.nav-btn {
  padding: 1.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-gray-300);
  font-size: 1.25rem;
  font-weight: 700;
  flex-shrink: 0;
  margin-left: -0.1em;
  transition: color 0.2s;
}

.nav-btn.active {
  color: var(--color-gray-900);
}