.section-default {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: var(--page-width-default);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--font-size-lg) * 4);
  padding-right: calc(var(--font-size-lg) * 4);
}

.section-narrow {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: var(--page-width-narrow);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--font-size-lg) * 4);
  padding-right: calc(var(--font-size-lg) * 4);
}

.section-splitter {
  border-bottom: 1px solid var(--color-on-section-splitter);
}

@media (max-width: 768px) {
  .section-default,
  .section-narrow {
    padding-left: calc(var(--font-size-lg) * 2);
    padding-right: calc(var(--font-size-lg) * 2);
  }
}