.contact {
    --contact-box-size: 3.5rem;
    --contact-box-gap: 0.75rem;
    --contact-box-radius: 4px;
    --contact-transition: all 0.5s ease;

    width: 100%;
    padding-top: 1rem;
}

.contact__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, var(--contact-box-size));
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--contact-box-gap);
}

.contact__item--email {
    grid-column: span 4;
}

/* Shared Box Styles */
.contact__icon-box,
.contact__email-box {
    height: var(--contact-box-size);
    border-radius: var(--contact-box-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--contact-transition);
    box-sizing: border-box;
    border: 1px solid transparent;
}

/* Icon Box Specific */
.contact__icon-box {
    width: var(--contact-box-size);
    border-color: var(--sys-color-btn-border);
    background: var(--sys-color-btn-background);
    color: var(--sys-color-text-secondary);
}

.contact__icon-box:hover {
    background-color: var(--sys-color-btn-background-hover);
    border-color: var(--sys-color-btn-border-hover);
    color: var(--sys-color-text-primary);
}

/* Email Box Specific */
.contact__email-box {
    width: 100%;
    padding: 0 1rem;
    gap: 0.5rem;
    border-color: var(--sys-color-primary-pale);
    background: var(--sys-color-primary-pale);
    color: var(--sys-color-primary);
}

.contact__email-box:hover {
    background-color: var(--sys-color-primary);
    color: var(--sys-color-primary-dark);
}

.contact__icon * {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.contact__text {
    font-size: var(--sys-font-m);
    font-weight: var(--sys-font-weight-normal);
    color: inherit;
}

/* Mobile Layout */
@media (max-width: 768px) {
    .contact {
        display: flex;
        justify-content: center;
    }

    .contact__list {
        grid-template-columns: repeat(4, var(--contact-box-size));
        width: fit-content;
    }

    .contact__item--email {
        grid-column: 1 / span 4;
    }

    /* Force row break for the first icon after the email button */
    .contact__item--email+.contact__item {
        grid-column-start: 1;
    }
}