:root {
    --color-on-dropdown-border: var(--color-on-text-subsubtle);
    --shadow-on-floating-btn: 
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}


.float-container {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 9999;
    /* iOS safe-area Ж│авац */
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.dropdown__list {
    box-sizing: border-box;
    background: var(--color-on-bg);

    position: absolute;
    top: 0%;
    bottom: auto;

    border: var(--thickness-on-btn-border) solid var(--color-on-dropdown-border);
    width: var(--btn-sm-width);
    border-radius: var(--btn-sm-border-radius);
    margin: 0;
    padding: 0;
    z-index: 10;
    list-style: none;
    font-size: inherit;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

.dropdown__list.drop-up {
    top: auto !important;
    bottom: 0% !important;
    right: 0% !important;
}

.dropdown__list:has(.dropdown__item:hover) .dropdown__item.selected:not(:hover),
.dropdown__list:hover .dropdown__item.selected:not(:hover) {
    background: var(--color-on-btn-outline-bg);
}

.dropdown__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--btn-sm-height);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: var(--color-on-btn-outline-bg);
    border: var(--thickness-on-btn-border) solid transparent;
    cursor: pointer;
    /* border-radius: var(--btn-sm-border-radius); */
}

.dropdown__item:not(:last-child) {
    border-bottom: var(--thickness-on-btn-border) solid var(--color-on-dropdown-border);
}

.dropdown__item:hover {
    background-color: var(--color-on-btn-outline-bg-hover);
    color: var(--color-on-btn-outline-text);
}

.dropdown__item.selected {
    background-color: var(--color-on-btn-outline-bg-hover);
    color: var(--color-on-btn-outline-text);
}


.dropdown__icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-style: inherit;
    background: transparent;
    font-size: var(--btn-sm-icon-size) !important;
    line-height: 1;
    color: var(--color-on-btn-outline-text);
}

.dropdown__label {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-weight: var(--btn-sm-font-weight) !important;
    font-size: var(--btn-sm-font-size) !important;
    background: transparent;
    color: var(--color-on-btn-outline-text);
    text-transform: uppercase;
}