:root {
    --x-padding: 1rem;
    --y-padding: 6rem;
    --y-gap: 8rem;
}

@media (min-width: 768px) {
    :root {
        --x-padding: 2rem;
        --y-padding: 6rem;
        --y-gap: 8rem;
    }
}

.base-layout {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    padding: var(--y-padding) var(--x-padding);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: var(--y-gap);
    background-color: white;
}